.App {
  flex-direction: row;
  background-color: #EAEAEA;
}

.header {
  align-items: center;
  background-color: white;
  min-width: 85%;
  height: 20px;
  padding: 20px;
  margin-bottom: 2px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  min-height: 100vh;
  min-width: 20%;
  background-color: #595858;
  color: white;
  font-weight: bold;
  box-sizing: border-box;

}

.logo-sidebar {
  width: 120px;
  height: 120px;
}

.filter {
  align-items: center;
  background-color: white;
  height: 80px;;
  min-width: 85%;
  padding: 20px;
  margin-bottom: 2px;
  color: white;
}

.graph-container {
  align-items: center;
  background-color: white;
  height: 70vh;;
  min-width: 85%;
  padding: 20px;
  margin-bottom: 2px;
  color: white;
}

h3 {
  margin: 0;
  color: #1AB394;
}


.menu {
  min-width: 12%;
}

.menu-item {
}

.menu-item-selected {
  background-color: white;
  color: #1AB394;
}

.page-wrapper {
  width: 100%;
  display: flex;
}

.content {
  width: 80%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
